body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  padding: 0px 32px;
}

.player-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
}

.player-table > thead > tr > td {
  border: 2px solid black;
  font-weight: 700;
}

.player-table > tbody > tr > td {
  border: 1px solid black;
}

.player-table > tbody > tr:nth-child(even) {
  background: #ccc;
}
.player-table > tbody > tr:nth-child(odd) {
  background: #fff;
}

.form-separator {
  padding: 8px;
}

.form-separator > label {
  margin-right: 8px;
}
